**/.classpath
.DS_Store
**/nb-configuration.xml
**/.springBeans
**/testing.properties
**/*.eml
**/Scripts
.idea
*.iml
.project
.idea
.metadata
.DS_Store
Servers
.settings
.classpath
target
mvn-repo
bin
*.war
*.log
*/nbactions.xml  
*.eml
nbactions.xml
testing.properties
*/test-output
JargonVersion.java
**/${test.option.mount.basedir}
**/*.*~
*.*~
.dbeaver*
data-profile/src/test/java/META-INF
.vscode
