**/.classpath
*/.DS_Store
**.DS_Store
**/nb-configuration.xml
**/.springBeans
**/testing.properties
.project
.metadata
.DS_Store
Servers
.settings
.classpath
target
bin
*.war
*.log
*/nbactions.xml
nbactions.xml
testing.properties
*/test-output
