.roundedContainer {
	-moz-background-clip: border;
	-moz-background-inline-policy: continuous;
	-moz-background-origin: padding;
	-moz-border-radius-bottomleft: 8pt;
	-moz-border-radius-bottomright: 8pt;
	-moz-border-radius-topleft: 8pt;
	-moz-border-radius-topright: 8pt;
	background: #FFFFFF none repeat scroll 0 0;
	border: 3px solid #000000;
	cursor: default;
	padding: 3em;
	margin: 6px;
	display: block;
}

.colleft {
	float: right;
	position: relative;
	/*width: 100%;*/
	left: 0px;
	top: 40px;
	overflow: hidden;
	min-height: 600px;
}

.col1 {
	position: relative;
	float: right;
	width: 60%;
}

.col2 {
	position: relative;
	float: left;
	width: 40%;
}

 a.navMenuItem {
	cursor:pointer;
	display:block;
	margin-top: 0;
	text-decoration: none;
	outline:0;
	clear: both;
}


.detailsUpdateForm {
	position: relative;
	/* width: 95%; */
	margin: 1em;
}

.detailsTableArea {
	background: #D7EEBE;
}

div.scroll {
height: 800px;
width: 300px;
overflow: auto;
padding: 8px;
}

/*
details form toolbar
*/
.fg-button {
	cursor: pointer;
	margin: 0 4px 0 0;
	outline: 0 none;
	padding: 0.4em 1em;
	position: relative;
	text-align: center;
	text-decoration: none !important;
}

.fg-button .ui-icon {
	left: 50%;
	margin-left: -8px;
	margin-top: -8px;
	position: absolute;
	top: 50%;
}

a.fg-button {
	float: left;
}

button.fg-button {
	overflow: visible;
	width: auto;
}

.fg-button-icon-left {
	padding-left: 2.1em;
}

.fg-button-icon-right {
	padding-right: 2.1em;
}

.fg-button-icon-left .ui-icon {
	left: 0.2em;
	margin-left: 0;
	right: auto;
}

.fg-button-icon-right .ui-icon {
	left: auto;
	margin-left: 0;
	right: 0.2em;
}

.fg-button-icon-solo {
	display: block;
	text-indent: -9999px;
	width: 8px;
}

.fg-buttonset {
	float: left;
}

.fg-buttonset .fg-button {
	float: left;
}

.fg-buttonset-single .fg-button,.fg-buttonset-multi .fg-button {
	margin-right: -1px;
}

.fg-toolbar {
	margin: 0;
	padding: 0.5em;
}

.fg-toolbar .fg-buttonset {
	margin-right: 1.5em;
	padding-left: 1px;
}

.fg-toolbar .fg-button {
	font-size: 1em;
}

/*
Details form general layout
*/
.toolbarButtons {
	clear: both;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: list-item;
}

.detailsDialog {
	color: white;
}

.detailsDialog h1,.detailsDialog h2,.detailsDialog h3 {
	color: white;
}

fieldset {
	margin: 2em;
	padding: 2em;	
}

#demoNavigation {
	display: block;
	clear: both;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	top: 400px;
	right: 200px;
	margin: 5px;
}

#columnarForm fieldset {
	float: left;
	display: block;
	width: 17em;
	margin: 0 1em 1em 0;
	padding: 0 1em 1em 1em;
}

#columnarForm fieldset.radio {
	width: 15em;
	margin: 1em 0 2em 0;
}

#columnarForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#columnarForm fieldset.radio label {
	font-weight: normal;
}

#columnarForm input {
	display: block;
	width: 15em;
}

#columnarForm label {
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#columnarForm label.first {
	padding-top: 1em;
}

#columnarForm select {
	display: block;
}

#horizontalForm fieldset {
	display: block;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#horizontalForm fieldset.radio {
	margin: 1em 0 2em 0;
}

#horizontalForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#horizontalForm fieldset.radio label {
	font-weight: normal;
}

#horizontalForm input {
	display: block;
	width: 15em;
}

#horizontalForm input.submit {
	clear: both;
}

#horizontalForm label {
	float: left;
	display: block;
	margin: 1em 1em 0 0;
	font-weight: bold;
}

#horizontalForm select {
	display: block;
}

#marginForm fieldset {
	display: block;
	margin: 0 0 1em 0;
	border: 0 solid #FFFFFF;
	border-top: 1px solid #000000;
	padding: 0 1em 1em 1em;
}

#marginForm fieldset.radio {
	margin: 0 0 0 -1em;
	border: 0 solid #FFFFFF;
}

#marginForm fieldset.radio input {
	position: static;
	clear: both;
	float: left;
}

#marginForm fieldset.radio label {
	position: relative;
	top: -1.25em;
	display: inline;
	width: auto;
	margin: 0 0 0 8em;
	font-weight: bold;
	font-weight: normal;
}

#marginForm fieldset.radio legend {
	float: left;
	font-weight: bold;
}

#marginForm input {
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#marginForm input.submit {
	clear: both;
	top: 0;
}

#marginForm label {
	clear: both;
	float: left;
	display: block;
	width: 8em;
	margin-top: -1em;
	font-weight: bold;
}

#marginForm label.first {
	margin-top: 1em;
}

#marginForm select {
	position: relative;
	top: -1.4em;
	left: 8em;
	display: block;
}

#verticalForm fieldset {
	display: block;
	width: 17em;
	margin: 0 0 3em 0;
	padding: 0 1em 1em 1em;
}

#verticalForm fieldset.radio {
	width: 15em;
	margin: 1em 0 2em 0;
}

#verticalForm fieldset.radio input {
	clear: both;
	float: left;
	width: auto;
}

#verticalForm fieldset.radio label {
	font-weight: normal;
}

#verticalForm input {
	display: block;
	width: 15em;
}

#verticalForm label {
	display: block;
	margin-bottom: 1em;
	font-weight: bold;
}

#verticalForm label.first {
	padding-top: 1em;
}

#verticalForm select {
	display: block;
}