/* main elements */
body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
}

body {
	/*background-color: #6E8AA0;*/
	/*background-image: url(../images/banner-graphic.png);*/
	background-position: top left;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 1000px;
	margin-top: 60px;
	/*margin-left: auto;
	margin-right: auto;*/
}

.formContainer {
	min-height: 200px;
}


input,textarea,select {
	/*border: 1px solid #B3B3B3;*/
	background: #E9ECEF;
}

submit {
	height: 25px;
}

div {
	text-align: left;
}

div .box {
	display: block;
	margin-left: 105px;
}

/* header and footer elements */
#wrap {
	margin-left: 10px;
	position: relative;
	float: center;
	top: 0px;
	left: 0px;
	width: 1200px;
	/*height:800px;*/
	text-align: left;
	float: center;
}

#main {
	margin-left: 10px; 
	position: relative;
	float: right;
	top: 5px;
	left: 0px;
	width: 950px;
	min-height: 700px;
	/*height:800px; */
	text-align: left;
	display: block;
}

#menu {
	background: #eee;
	position: relative;
	float: left;
	margin-right: 10px;
	top: 35px;
	left: 0px;
	/*width: 100px;*/
	margin-top: 20px;
}

.footer {
	/*background: #fff;*/
	border: none;
	margin-top: 20px;
	border-top: 1px solid #999999;
	width: 100%;
	/*height:30px;*/
	clear: both;
	top:20em;
	position: relative;
}

.footer td {
	color: #666666;
	background: #dcdcdc;
	text-align: right;
}

.footer .new {
	float: left;
}

.footer a:link {
	color: #7db223;
}

/* menu elements*/
a.menu,a.menu:link,a.menu:visited {
	display: block;
	width: 150px;
	height: 25px;
}

/* text styles */
h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 20px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color: #555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}

.errors {
	color: red;
	font-weight: bold;
	display: block;
	margin-left: 105px;
}

a {
	text-decoration: underline;
	font-size: 13px;
}

a img {
	border: 0 none;
	vertical-align: middle;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}


/* table elements */
table {
	background: #D6EEBD;
	margin: 2px 0 0 0;
	border: 1px solid #3D6118;
	border-collapse: collapse;
	width: 100%
}

table table {
	margin: -5px 0;
	border: 0px solid #e0e7d3;
	width: 100%;
}

table td,table th {
	padding: 2px;
	border: 1px solid #e0e7d3;
}

table td form {
	text-align: center;
	vertical-align: middle;
	margin: 0px;
}

table th {
	font-size: 0.75em;
	text-align: left;
	font-weight: bold;
	color: #FFF;
	background: #3D6118;
}

table thead {
	font-weight: bold;
	font-style: italic;
	background-color: #BBBBBB;
}

table a:link {
	color: #303030;
}

caption {
	caption-side: top;
	width: auto;
	text-align: left;
	font-size: 12px;
	color: #848f73;
	padding-bottom: 4px;
}

.table-buttons {
	background-color: #fff;
	border: none;
}

.table-buttons td {
	border: none;
}

.submit input {
	border: 1px solid #BBBBBB;
	color: #777777;
	padding: 2px 7px;
	font-size: 11px;
	text-transform: uppercase;
	font-weight: bold;
	height: 24px;
}

.updated {
	background: #ecf1e5;
	font-size: 11px;
	margin-left: 2px;
	border: 4px solid #ecf1e5;
}

.updated td {
	padding: 2px 8px;
	font-size: 11px;
	color: #888888;
}

.details tr.odd {
	background: #DEEEFB;
}

.details tr.even {
	background: #DEEEFB;
}